{% extends 'base.html' %}

{% block content %}
  <div class="reg-main">
    <div style="padding: 20px;">
      <form class="reg-main__form" method="POST" enctype="multipart/form-data">
        <h2>Регистрация</h2>
        {% csrf_token %}
        {{ sign_up }}
        <button class="reg-button__submit" type="submit" style="margin-top: 20px; width: 120px;">Продолжить</button>
      </form>
      <div style="margin-top: 10px;">
        <span class="text">У&nbsp;вас есть учетная запись?&nbsp;
          <a style="reg__link" href="{% url 'advito:login' %}" class="link"><span>Войти</span></a>
        </span>
      </div>
    </div>
  </div>
{% endblock  %}
