/* Global styles */
body {
  font-size: 18px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none
}

html { 
  box-sizing: border-box; 
}

img { 
  max-width: 100%;
}

.container-back {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin: 0 auto; 
  background-color: #E7E5E5;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-bottom: 20px;
  margin: 0 auto; 
  background-color:#FFFFFF;
  box-shadow: 6px 0px 6px -6px rgba(0,0,0,0.25), -6px 0px 6px -6px rgba(0,0,0,0.25);
}

/* header **************************/
.navigation {
  display:flex; 
  background-color: #8DCFFF; 
  justify-content: space-between;
}

.navbar {
  display: flex;
}

.navbar-nav {
  display:flex;
  align-self: center;
}

.nav-item {
  margin-right:20px;
  display: flex;
}

.logo {
  width: 120px;
}

.nav-link{
  align-self: center;
  font-weight: bold;
  color: #000000;
}

.index-form {
  display:flex; 
  border-bottom: solid 1px;
}

.category, .form {
  margin-left: 20px;
}

.category__href {
  margin-left: 10px;
}

.username {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.profile-exit__href {
  background-color: rgb(161, 161, 214);
  border: solid 1px;
  border-radius: 2px;
  padding: 1px 5px 1px 5px;
  margin: 1px 20px 1px 10px;
}

.passres__href{
  margin-top: 20px;
}

/* footer **************************/
.footer{
  display: flex;
  border-top: solid 1px;
}

.footer-social{
  margin: 0 auto;
}

.footer-social__list {
  display: flex;
  padding: 0;
}

.footer-social__item {
  display: flex;
  background-color: #81B3D2;
  width: 47px;
  height: 48px;
  margin: 3px;
  cursor: pointer;
}

.footer-social__link {
  margin: auto;
  display: block;
}

.footer__logo-svg {
  fill: #FFFFFF;
}